
.DS_Store

*.asv

*.aux

*.fdb_latexmk

*.fls

*.log

*.gz

*.coverage

.eggs
mypy_cache
*.egg-info
*__pycache__
build/*
docs/_build
docs/_static
docs/_templates
*.so
*.html
*.c
scripts/data
*.pdf
dist/*
*.sh
scripts/old